attrs
bcrypt
click
Flask
flask-jwt-extended
Flask-Migrate
Flask-Script
Flask-Testing
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
mockito
pluggy
py
pytest
six
SQLAlchemy
Werkzeug
psycopg2
-e git+https://github.com/gglockner/teslajson.git#egg=teslajson
shared_context